{% extends 'base.htm' %}
{% block title %}Server Configuration{% endblock %}
{% block content %}
<h1 class="text-3xl text-black pb-6">Server Configuration</h1>
<form class="flex flex-wrap" method="POST">
  <div class="w-full lg:w-1/2 my-6 pr-0 lg:pr-2">
    <p class="text-xl pb-6 flex items-center">
      <i class="fas fa-list mr-3"></i> Hosting Information
    </p>
    <div class="p-10 bg-white rounded shadow-xl leading-loose">
      <div class="">
        <label class="block text-sm text-gray-600 group relative" for="name">
          Server Name
          <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
            <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
              The name of the server that will appear on the lobby
            </div>
          </div>
        </label>
        <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="name" name="name" type="text" required=""
          placeholder="Server Name" aria-label="Name" value="{{data['name']}}" />
      </div>
      <div class="mt-2">
        <label class="block text-sm text-gray-600 group relative" for="password">
          Password
          <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
            <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
              If you want to run a private server, just set a password and make it known to your friends
            </div>
          </div>
        </label>
        <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="password" name="password" type="password"
          required="" placeholder="Server Password" aria-label="Password" value="{{ data['password'] }}" />
      </div>
      <div class="mt-2">
        <label class="block text-sm text-gray-600 group relative" for="admin_password">
          Admin Password
          <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
            <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
              Chat -&gt; /admin your_password to become server admin or use it to join the server. Use /help to see the command list
            </div>
          </div>
        </label>
        <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="admin_password" name="admin_password"
          type="password" required="" placeholder="Admin Password" aria-label="Admin Password"
          value="{{ data['admin_password'] }}" />
      </div>
      <div class="mt-2">
        <label class="block text-sm text-gray-600 group relative" for="register_to_lobby">
          Show on Lobby
          <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
            <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
              Flag it if you want your server to be visible on the Online Lobby
            </div>
          </div>
        </label>
        <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
          <input type="checkbox" name="register_to_lobby" id="register_to_lobby" value="1" {% if
            data['register_to_lobby']==1 %} checked {% endif %}
            class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer" />
          <label for="register_to_lobby"
            class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"></label>
          <input type="hidden" value="0" name="register_to_lobby" />
        </div>
      </div>
      <div class="mt-2">
        <label class="block text-sm text-gray-600 group relative" for="pickup_mode_enabled">
          Pickup Mode
          <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
            <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
              Flag it if you want to start a server without booking.
            </div>
          </div>
        </label>
        <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
          <input type="checkbox" name="pickup_mode_enabled" id="pickup_mode_enabled" value="1" {% if
            data['pickup_mode_enabled']==1 %} checked {% endif %}
            class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer" />
          <label for="pickup_mode_enabled"
            class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"></label>
          <input type="hidden" value="0" name="pickup_mode_enabled" />
        </div>
      </div>
      <div class="mt-2">
        <label class="block text-sm text-gray-600 group relative" for="locked_entry_list">
         Pickup Locked Entry List 
          <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
            <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
              Flag it if you want to limit the server to the entrylist GUID player and ignore password
            </div>
          </div>
        </label>
        <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
          <input type="checkbox" name="locked_entry_list" id="locked_entry_list" value="1" {% if
            data['locked_entry_list']==1 %} checked {% endif %}
            class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer" />
          <label for="locked_entry_list"
            class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"></label>
          <input type="hidden" value="0" name="locked_entry_list" />
        </div>
      </div>
      <div class="mt-2">
        <label class="block text-sm text-gray-600 group relative" for="result_screen_time">
         Result Screen Time 
          <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
            <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
              Seconds what the server is going to wait for players to end the race
            </div>
          </div>
        </label>
        <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="result_screen_time"
          name="result_screen_time" type="number" required="" placeholder="Result Screen Time" min="10"
          aria-label="Result Screen Time" value="{{ data['result_screen_time'] }}" />
      </div>
    </div>
  </div>

  <div class="w-full lg:w-1/2 mt-6 pl-0 lg:pl-2">
    <p class="text-xl pb-6 flex items-center">
      <i class="fas fa-list mr-3"></i> Server Details
    </p>
    <div class="p-10 bg-white rounded shadow-xl leading-loose">
      <div class="">
        <label class="block text-sm text-gray-600 group relative" for="udp_port">
         UDP Port
          <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
            <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
              Remember to open this port on your firewall
            </div>
          </div>
        </label>
        <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="udp_port" name="udp_port" type="number"
          required="" placeholder="UDP Port" aria-label="UDP Port" value="{{ data['udp_port'] }}" min="1" max="65535" />
      </div>
      <div class="mt-2">
        <label class="block text-sm text-gray-600 group relative" for="tcp_port">
         TCP Port
          <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
            <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
              Remember to open this port on your firewall
            </div>
          </div>
        </label>
        <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="tcp_port" name="tcp_port" type="number"
          required="" placeholder="TCP Port" aria-label="TCP Port" value="{{ data['tcp_port'] }}" min="1" max="65535" />
      </div>
      <div class="mt-2">
        <label class="block text-sm text-gray-600 group relative" for="http_port">
         HTTP Port
          <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
            <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
              HTTP is TCP. Remember to open this port on your firewall
            </div>
          </div>
        </label>
        <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="http_port" name="http_port" type="number"
          required="" placeholder="HTTP Port" aria-label="HTTP Port" value="{{ data['http_port'] }}" min="1"
          max="65535" />
      </div>
      <div class="mt-2">
        <label class="block text-sm text-gray-600 group relative" for="client_send_interval">
         Packet HZ
          <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
            <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
              Higher value gives better MP quality, but requires a more powerful connection
            </div>
          </div>
        </label>
        <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="client_send_interval" min="10" max="35"
          name="client_send_interval" type="number" required="" placeholder="Packet HZ" aria-label="Packet HZ"
          value="{{ data['client_send_interval'] }}" />
      </div>
      <div class="mt-2">
        <label class="block text-sm text-gray-600 group relative" for="num_threads">
         Threads
          <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
            <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
              # TODO: caption
            </div>
          </div>
        </label>
        <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="num_threads" name="num_threads" min="2"
          max="8" type="number" required="" placeholder="Threads" aria-label="Threads"
          value="{{ data['num_threads'] }}" />
      </div>
    </div>
  </div>

  <div class="w-full lg:w-1/2 mt-6 pl-0 lg:pl-2">
    <p class="text-xl pb-6 flex items-center">
      <i class="fas fa-list mr-3"></i> Preferences
    </p>
    <div class="p-10 bg-white rounded shadow-xl leading-loose">
      <div class="">
        <label class="block text-sm text-gray-600 group relative" for="measurement_unit">
         Measurement Units
          <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
            <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
              Measurement units to be used in the web ui
            </div>
          </div>
        </label>
        <select class="w-full text-gray-700 bg-gray-200 rounded py-3 px-4 pr-8" id="measurement_unit"
          name="measurement_unit">
          <option value="0" {% if data['measurement_unit']==0 %} selected {% endif %}>KM, KM/h</option>
          <option value="1" {% if data['measurement_unit']==1 %} selected {% endif %}>Miles, MPH</option>
        </select>
      </div>
      <div class="mt-2">
        <label class="block text-sm text-gray-600 group relative" for="temp_unit">
         Temperature Units
          <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
            <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
              Temperature units to be used in the web ui
            </div>
          </div>
        </label>
        <select class="w-full text-gray-700 bg-gray-200 rounded py-3 px-4 pr-8" id="temp_unit" name="temp_unit">
          <option value="0" {% if data['temp_unit']==0 %} selected {% endif %}>Celcius</option>
          <option value="1" {% if data['temp_unit']==1 %} selected {% endif %}>Fahrenheit</option>
        </select>
      </div>
    </div>
  </div>

  <div class="w-full lg:w-1/2 mt-6 pl-0 lg:pl-2">
    <p class="text-xl pb-6 flex items-center">
      <i class="fas fa-list mr-3"></i> Installation
    </p>
    <div class="p-10 bg-white rounded shadow-xl leading-loose">
      <div class="">
        <label class="block text-sm text-gray-600 group relative" for="install_path">
         Installation Path
          <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
            <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
              Root folder of your Assetto Corsa installation path
            </div>
          </div>
        </label>
        <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="install_path" name="install_path"
          type="text" required="" placeholder="Installation Path" aria-label="Installation Path"
          value="{{ data['install_path'] }}" />
      </div>
    </div>
  </div>

  <div class="w-full lg:w-1/2 mt-6 pl-0 lg:pl-2">
    <p class="text-xl pb-6 flex items-center">
      <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" type="submit">
        Save
      </button>
    </p>
  </div>
</form>

{% endblock %}
