{{ template "/htm/header.htm" . }}

<div class="flex flex-wrap">
  <div class="w-full">
    <div class="text-black">


      {{ if not .form.Id }}
      <div class="2xl:w-1/2 xl:w-4/6 lg:w-5/6 md:w-full m-auto" x-data="{ showModal: false, email: '' }">
        <h1 class="text-3xl text-black pb-6">Difficulty Presets</h1>
        <form method="POST">
          <!-- Background overlay -->
          <div x-show="showModal" class="fixed inset-0 transition-opacity" aria-hidden="true"
            @click="showModal = false">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
          </div>
          <!-- Modal -->
          <div x-show="showModal" x-transition:enter="transition ease-out duration-300 transform"
            x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
            x-transition:leave="transition ease-in duration-200 transform"
            x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
            x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            class="fixed z-10 inset-0 overflow-y-auto" x-cloak>
            <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
              <!-- Modal panel -->
              <div
                class="w-full inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
                role="dialog" aria-modal="true" aria-labelledby="modal-headline">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                  <!-- Modal content -->
                  <div class="sm:flex sm:items-start">
                    <div class="w-full mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                      <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
                        Add a new Difficulty
                      </h3>
                      <div class="mt-2">
                        <p class="text-sm text-gray-500">
                          Enter the name of the difficulty
                        </p>
                        <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="difficulty_name"
                          name="difficulty_name" type="text" required="" placeholder="Difficulty Name"
                          aria-label="Difficulty Name" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex">
                  <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded-l-md" type="submit">
                    Save
                  </button>
                  <button @click="showModal = false"
                    class="px-4 py-1 text-white font-light tracking-wider bg-red-900 rounded-r-md" type="button">
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="w-full mt-6">
          <div class="p-4 lg:p-10 leading-loose bg-white rounded shadow-xl">
            <p class="text-xl flex items-center">
              <i class="fas fa-list mr-3"></i> Difficulties
            </p>
            <hr class="pb-6" />
            <div class="flex">
              <ul class="bg-white w-96 text-gray-900">
                {{ $g := . }}
                {{range $val := .list }}
                <li class="w-full hover:bg-gray-200 rounded-lg">
                  <a class="px-5 py-2 inline-block w-full" href="/difficulty/{{ $val.Id }}">
                    <i class="fas fa-edit mr-3"></i>{{ $val.Name }}
                  </a>
                </li>
                {{ end }}
                <li class="w-full hover:bg-gray-200 rounded-lg">
                  <a class="px-5 py-2 inline-block w-full" href="#" @click="showModal = true">
                    <i class="fas fa-plus mr-3"></i>Add new Difficulty
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {{ end }}

      {{ if .form.Id }}
      <script>
        function dynamic_track() {
          return {
            open: {{ .form.DynamicTrack }},
            dynamic_track_preset: {{ .form.DynamicTrackPreset }},
            session_start: {{ .form.SessionStart }},
            randomness: {{ .form.Randomness }},
            session_transfer: {{ .form.SessionTransfer }},
            lap_gain: {{ .form.LapGain }},

            set_open: function (val) {
              this.open = val;
              if (val) {
                this.dynamic_track_preset = '';
                this.session_start = '';
                this.randomness = '';
                this.session_transfer = '';
                this.lap_gain = '';
              }
            },
            preset_changed: function () {
              if (this.dynamic_track_preset == 1) {
                this.session_start = 86;
                this.randomness = 1;
                this.session_transfer = 50;
                this.lap_gain = 30;
              } else if (this.dynamic_track_preset == 2) {
                this.session_start = 89;
                this.randomness = 3;
                this.session_transfer = 80;
                this.lap_gain = 50;
              } else if (this.dynamic_track_preset == 3) {
                this.session_start = 96;
                this.randomness = 1;
                this.session_transfer = 80;
                this.lap_gain = 300;
              } else if (this.dynamic_track_preset == 4) {
                this.session_start = 95;
                this.randomness = 2;
                this.session_transfer = 90;
                this.lap_gain = 132;
              } else if (this.dynamic_track_preset == 5) {
                this.session_start = 98;
                this.randomness = 2;
                this.session_transfer = 80;
                this.lap_gain = 700;
              } else if (this.dynamic_track_preset == 6) {
                this.session_start = 100;
                this.randomness = 0;
                this.session_transfer = 100;
                this.lap_gain = 1;
              }
            }
          }
        }
      </script>


      <form class="2xl:w-1/2 xl:w-4/6 lg:w-5/6 md:w-full m-auto" method="POST">
        <h1 class="text-3xl text-black pb-6">Difficulty Presets</h1>
        <div class="w-full mt-6">
          <div class="p-4 lg:p-10 leading-loose bg-white rounded shadow-xl">
            <p class="text-xl flex items-center">
              <i class="fas fa-list mr-3"></i> Difficulty Name
            </p>
            <hr class="pb-6" />
            <div class="">
              <label class="block text-sm text-gray-600 group relative" for="name">
                Name
                <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                  <div class="bg-corsa text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                    Name of this preset
                  </div>
                </div>
              </label>
              <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="name" name="name"
                type="text" required="" placeholder="Name" aria-label="Name"
                value="{{ .form.Name }}" />
            </div>
          </div>
        </div>
        <div class="w-full mt-6">
          <div class="p-4 lg:p-10 leading-loose bg-white rounded shadow-xl">
            <p class="text-xl flex items-center">
              <i class="fas fa-list mr-3"></i> Assists
            </p>
            <hr class="pb-6" />
            <div class="">
              <label class="block text-sm text-gray-600 group relative" for="abs_allowed">
                ABS
                <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                  <div class="bg-corsa text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                    # TODO: caption
                  </div>
                </div>
              </label>
              <select class="w-full text-gray-700 bg-gray-200 rounded py-1 px-4 pr-8" id="abs_allowed"
                name="abs_allowed">
                <option value="0" {{ if (eq (derefInt .form.AbsAllowed) "0") }} selected {{ end }}>Denied</option>
                <option value="1" {{ if (eq (derefInt .form.AbsAllowed) "1") }} selected {{ end }}>Factory</option>
                <option value="2" {{ if (eq (derefInt .form.AbsAllowed) "2") }} selected {{ end }}>Force</option>
              </select>
            </div>
            <div class="mt-2">
              <label class="block text-sm text-gray-600 group relative" for="tc_allowed">
                Traction Control
                <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                  <div class="bg-corsa text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                    # TODO: caption
                  </div>
                </div>
              </label>
              <select class="w-full text-gray-700 bg-gray-200 rounded py-1 px-4 pr-8" id="tc_allowed" name="tc_allowed">
                <option value="0" {{ if (eq (derefInt .form.TcAllowed) "0") }} selected {{ end }}>Denied</option>
                <option value="1" {{ if (eq (derefInt .form.TcAllowed) "1") }} selected {{ end }}>Factory</option>
                <option value="2" {{ if (eq (derefInt .form.TcAllowed) "2") }} selected {{ end }}>Force</option>
              </select>
            </div>
            <div class="mt-2">
              <label class="block text-sm text-gray-600 group relative" for="stability_allowed">
                Stability Control
                <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                  <div class="bg-corsa text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                    If flagged the AI will help you to keep control of the car
                  </div>
                </div>
              </label>
              <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
                <input type="checkbox" name="stability_allowed" id="stability_allowed" value="1" {{ if (eq (derefInt
                  .form.StabilityAllowed) "1") }} checked {{ end }}
                  class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer" />
                <label for="stability_allowed"
                  class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"></label>
                <input type='hidden' value='0' name='stability_allowed'>
              </div>
            </div>
            <div class="mt-2">
              <label class="block text-sm text-gray-600 group relative" for="autoclutch_allowed">
                Auto Clutch
                <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                  <div class="bg-corsa text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                    If flagged the clutch is automatically pressed when the car is stopped
                  </div>
                </div>
              </label>
              <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
                <input type="checkbox" name="autoclutch_allowed" id="autoclutch_allowed" value="1" {{ if (eq (derefInt
                  .form.AutoclutchAllowed) "1") }} checked {{ end }}
                  class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer" />
                <label for="autoclutch_allowed"
                  class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"></label>
                <input type='hidden' value='0' name='autoclutch_allowed'>
              </div>
            </div>
            <div class="mt-2">
              <label class="block text-sm text-gray-600 group relative" for="tyre_blankets_allowed">
                Tyre Blankets
                <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                  <div class="bg-corsa text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                    If flagged the car will leave the box with warmed up tires
                  </div>
                </div>
              </label>
              <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
                <input type="checkbox" name="tyre_blankets_allowed" id="tyre_blankets_allowed" value="1" {{ if (eq
                  (derefInt .form.TyreBlanketsAllowed) "1") }} checked {{ end }}
                  class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer" />
                <label for="tyre_blankets_allowed"
                  class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"></label>
                <input type='hidden' value='0' name='tyre_blankets_allowed'>
              </div>
            </div>
            <div class="mt-2">
              <label class="block text-sm text-gray-600 group relative" for="force_virtual_mirror">
                Force Virtual Mirrors
                <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                  <div class="bg-corsa text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                    If flagged the client will be force to have virtual mirrors enabled
                  </div>
                </div>
              </label>
              <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
                <input type="checkbox" name="force_virtual_mirror" id="force_virtual_mirror" value="1" {{ if (eq
                  (derefInt .form.ForceVirtualMirror) "1") }} checked {{ end }}
                  class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer" />
                <label for="force_virtual_mirror"
                  class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"></label>
                <input type='hidden' value='0' name='force_virtual_mirror'>
              </div>
            </div>
          </div>
        </div>

        <div class="w-full mt-6">
          <div class="p-4 lg:p-10 leading-loose bg-white rounded shadow-xl">
            <p class="text-xl flex items-center">
              <i class="fas fa-list mr-3"></i> Realism
            </p>
            <hr class="pb-6" />
            <div class="">
              <label class="block text-sm text-gray-600 group relative" for="fuel_rate">
                Fuel Rate
                <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                  <div class="bg-corsa text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                    Percentage of fuel usage: 0 = no fuel usage
                  </div>
                </div>
              </label>
              <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="fuel_rate" name="fuel_rate" min="0"
                max="500" type="number" required="" placeholder="Fuel Rate" aria-label="Fuel Rate"
                value="{{ .form.FuelRate }}" />
            </div>
            <div class="mt-2">
              <label class="block text-sm text-gray-600 group relative" for="damage_multiplier">
                Damage Rate
                <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                  <div class="bg-corsa text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                    Percentage of damage: 0 = no damage
                  </div>
                </div>
              </label>
              <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="damage_multiplier" min="0" max="400"
                name="damage_multiplier" type="number" required="" placeholder="Damage Rate" aria-label="Damage Rate"
                value="{{ .form.DamageMultiplier }}" />
            </div>
            <div class="mt-2">
              <label class="block text-sm text-gray-600 group relative" for="tyre_wear_rate">
                Tyre Wear
                <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                  <div class="bg-corsa text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                    Percentage of tyre wear rate: 0 = no damage
                  </div>
                </div>
              </label>
              <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="tyre_wear_rate" min="0" max="500"
                name="tyre_wear_rate" type="number" required="" placeholder="Tyre Wear" aria-label="Tyre Wear"
                value="{{ .form.TyreWearRate }}" />
            </div>
            <div class="mt-2">
              <label class="block text-sm text-gray-600 group relative" for="allowed_tyres_out">
                Allowed Tyres Out
                <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                  <div class="bg-corsa text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                    #TODO: caption
                  </div>
                </div>
              </label>
              <select class="w-full text-gray-700 bg-gray-200 rounded py-1 px-4 pr-8" id="allowed_tyres_out"
                name="allowed_tyres_out">
                <option value="0" {{ if (eq (derefInt .form.AllowedTyresOut) "0") }} selected {{ end }}>0</option>
                <option value="1" {{ if (eq (derefInt .form.AllowedTyresOut) "1") }} selected {{ end }}>1</option>
                <option value="2" {{ if (eq (derefInt .form.AllowedTyresOut) "2") }} selected {{ end }}>2</option>
                <option value="3" {{ if (eq (derefInt .form.AllowedTyresOut) "3") }} selected {{ end }}>3</option>
                <option value="4" {{ if (eq (derefInt .form.AllowedTyresOut) "4") }} selected {{ end }}>4</option>
              </select>
            </div>
            <div class="mt-2">
              <label class="block text-sm text-gray-600 group relative" for="max_ballast_kg">
                Max Ballast (KG)
                <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                  <div class="bg-corsa text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                    Max ballast allowed on server
                  </div>
                </div>
              </label>
              <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="max_ballast_kg" min="0" max="300"
                name="max_ballast_kg" type="number" required="" placeholder="Max Balast (KG)"
                aria-label="Max Ballast (KG)" value="{{ .form.MaxBallastKg }}" />
            </div>
            <div class="mt-2">
              <label class="block text-sm text-gray-600 group relative" for="start_rule">
                Jump Start
                <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                  <div class="bg-corsa text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                    DriveThrough is not valid if race has 3 laps or less: Teleport will be used
                  </div>
                </div>
              </label>
              <select class="w-full text-gray-700 bg-gray-200 rounded py-1 px-4 pr-8" id="start_rule" name="start_rule">
                <option value="0" {{ if (eq (derefInt .form.StartRule) "0") }} selected {{ end }}>Car Locked</option>
                <option value="1" {{ if (eq (derefInt .form.StartRule) "1") }} selected {{ end }}>Teleport To Pit
                </option>
                <option value="2" {{ if (eq (derefInt .form.StartRule) "2") }} selected {{ end }}>DriveThrough</option>
              </select>
            </div>
            <div class="mt-2">
              <label class="block text-sm text-gray-600 group relative" for="race_gas_penality_disabled">
                Race Gas Penality
                <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                  <div class="bg-corsa text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                    Flag it if you want to disable race Gas Penality. Cuts will be registered on result jsons
                  </div>
                </div>
              </label>
              <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
                <input type="checkbox" name="race_gas_penality_disabled" id="race_gas_penality_disabled" value="1" {{ if
                  (eq (derefInt .form.RaceGasPenalityDisabled) "1") }} checked {{ end }}
                  class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer" />
                <label for="race_gas_penality_disabled"
                  class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"></label>
                <input type='hidden' value='0' name='race_gas_penality_disabled'>
              </div>
            </div>
          </div>
        </div>

        <div class="w-full mt-6" x-data="dynamic_track()">
          <div class="p-4 lg:p-10 leading-loose bg-white rounded shadow-xl">
            <p class="text-xl flex items-center">
              <i class="fas fa-list mr-3"></i> Dynamic Track
            </p>
            <hr class="pb-6" />
            <div class="">
              <label class="block text-sm text-gray-600 group relative" for="dynamic_track">
                Enabled
                <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                  <div class="bg-corsa text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                    Flag it to use the dynamic improvement of the track surface
                  </div>
                </div>
              </label>
              <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
                <input type="checkbox" name="dynamic_track" id="dynamic_track" value="1" {{ if (eq (derefInt
                  .form.DynamicTrack) "1") }} checked {{ end }} @click="set_open($event.target.checked)"
                  class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer" />
                <label for="dynamic_track"
                  class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"></label>
                <input type="hidden" value="0" name="dynamic_track" />
              </div>
            </div>

            <div x-show="open">
              <div class="mt-2">
                <label class="block text-sm text-gray-600 group relative" for="dynamic_track_preset">
                  Preset
                  <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                    <div class="bg-corsa text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                      # TODO: caption
                    </div>
                  </div>
                </label>
                <select class="w-full text-gray-700 bg-gray-200 rounded py-1 px-4 pr-8" id="dynamic_track_preset"
                  :required="open" name="dynamic_track_preset" x-model="dynamic_track_preset" :disabled="!open"
                  @change="preset_changed()">
                  <option value="0" {{ if (eq (derefInt .form.DynamicTrackPreset) "0") }} selected {{ end }}>Custom
                  </option>
                  <option value="1" {{ if (eq (derefInt .form.DynamicTrackPreset) "1") }} selected {{ end }}>Dusty
                  </option>
                  <option value="2" {{ if (eq (derefInt .form.DynamicTrackPreset) "2") }} selected {{ end }}>Old
                  </option>
                  <option value="3" {{ if (eq (derefInt .form.DynamicTrackPreset) "3") }} selected {{ end }}>Slow
                  </option>
                  <option value="4" {{ if (eq (derefInt .form.DynamicTrackPreset) "4") }} selected {{ end }}>Green
                  </option>
                  <option value="5" {{ if (eq (derefInt .form.DynamicTrackPreset) "5") }} selected {{ end }}>Fast
                  </option>
                  <option value="6" {{ if (eq (derefInt .form.DynamicTrackPreset) "6") }} selected {{ end }}>Optimum
                  </option>
                </select>
              </div>
              <div class="mt-2">
                <label class="block text-sm text-gray-600 group relative" for="session_start">
                  Start Value
                  <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                    <div class="bg-corsa text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                      Percentage of track grip
                    </div>
                  </div>
                </label>
                <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="session_start"
                  x-model="session_start" min="80" max="100" name="session_start" type="number" :required="open"
                  :disabled="dynamic_track_preset != 0 || !open" placeholder="Start Value" aria-label="Start Value" />
                <input type="hidden" name="session_start" x-model="session_start" />
              </div>
              <div class="mt-2">
                <label class="block text-sm text-gray-600 group relative" for="randomness">
                  Randomness
                  <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                    <div class="bg-corsa text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                      Alteration percentage of the start value
                    </div>
                  </div>
                </label>
                <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="randomness" name="randomness"
                  min="0" max="10" type="number" :required="open" :disabled="dynamic_track_preset != 0 || !open"
                  placeholder="Randomness" aria-label="Randomness" x-model="randomness" />
                <input type="hidden" name="randomness" x-model="randomness" />
              </div>
              <div class="mt-2">
                <label class="block text-sm text-gray-600 group relative" for="session_transfer">
                  Transfer Grip
                  <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                    <div class="bg-corsa text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                      Percentage of transferred grip between sessions
                    </div>
                  </div>
                </label>
                <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="session_transfer"
                  x-model="session_transfer" min="0" max="100" name="session_transfer" type="number" :required="open"
                  :disabled="dynamic_track_preset != 0 || !open" placeholder="Transfer Grip" aria-label="Transfer Grip" />
                <input type="hidden" name="session_transfer" x-model="session_transfer" />
              </div>
              <div class="mt-2">
                <label class="block text-sm text-gray-600 group relative" for="lap_gain">
                  Laps to Improve Grip
                  <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                    <div class="bg-corsa text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                      How many combined laps are needed to increase grip of 1%
                    </div>
                  </div>
                </label>
                <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="lap_gain" name="lap_gain"
                  x-model="lap_gain" min="0" max="1000" type="number" :required="open"
                  :disabled="dynamic_track_preset != 0 || !open" placeholder="Laps to Improve Grip"
                  aria-label="Laps to Improve Grip" />
                <input type="hidden" name="lap_gain" x-model="lap_gain" />
              </div>
            </div>
          </div>
        </div>

        <div class="w-full mt-6">
          <div class="p-4 lg:p-10 leading-loose bg-white rounded shadow-xl">
            <p class="text-xl flex items-center">
              <i class="fas fa-list mr-3"></i> Voting and Banning
            </p>
            <hr class="pb-6" />
            <div class="">
              <label class="block text-sm text-gray-600 group relative" for="kick_quorum">
                Kick Vote Quorum
                <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                  <div class="bg-corsa text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                    Percentage of 'Yes' needed to kick a player
                  </div>
                </div>
              </label>
              <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="kick_quorum" name="kick_quorum"
                min="0" max="101" type="number" required="" placeholder="Kick Vote Quorum" aria-label="Kick Vote Quorum"
                value="{{ .form.KickQuorum }}" />
            </div>
            <div class="mt-2">
              <label class="block text-sm text-gray-600 group relative" for="voting_quorum">
                Session Vote Quorum
                <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                  <div class="bg-corsa text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                    Percentage of 'Yes' needed to restart or skip a session
                  </div>
                </div>
              </label>
              <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="voting_quorum" name="voting_quorum"
                min="0" max="101" type="number" required="" placeholder="Session Vote Quorum"
                aria-label="Session Vote Quorum" value="{{ .form.VotingQuorum }}" />
            </div>
            <div class="mt-2">
              <label class="block text-sm text-gray-600 group relative" for="vote_duration">
                Vote Duration
                <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                  <div class="bg-corsa text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                    Seconds needed to close the voting session
                  </div>
                </div>
              </label>
              <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="vote_duration" name="vote_duration"
                min="10" max="30" type="number" required="" placeholder="Vote Duration" aria-label="Vote Duration"
                value="{{ .form.VoteDuration }}" />
            </div>
            <div class="mt-2">
              <label class="block text-sm text-gray-600 group relative" for="blacklist_mode">
                Blacklist
                <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                  <div class="bg-corsa text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                    # TODO: caption
                  </div>
                </div>
              </label>
              <select class="w-full text-gray-700 bg-gray-200 rounded py-1 px-4 pr-8" id="blacklist_mode"
                name="blacklist_mode">
                <option value="0" {{ if (eq (derefInt .form.BlacklistMode) "0") }} selected {{ end }}>Kick Player
                </option>
                <option value="1" {{ if (eq (derefInt .form.BlacklistMode) "1") }} selected {{ end }}>Kick Until Restart
                </option>
              </select>
            </div>
            <div class="mt-2">
              <label class="block text-sm text-gray-600 group relative" for="max_contacts_per_km">
                Max Collisions x KM
                <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                  <div class="bg-corsa text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                    The player will be kicked if he hits X different cars dfuring the same Km (-1 to disable it)
                  </div>
                </div>
              </label>
              <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="max_contacts_per_km" min="-1"
                max="128" name="max_contacts_per_km" type="number" required="" placeholder="Max Collision per KM"
                aria-label="Max Collision per KM" value="{{ .form.MaxContactsPerKm }}" />
            </div>
          </div>
        </div>

        <div class="w-full mt-6" x-data=" { btnClick : true }">
          <p class="text-xl flex justify-center items-center">
            <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded-l-md" type="submit">
              Save
            </button>
            <button class="px-4 py-1 text-white font-light tracking-wider bg-red-900 rounded-r-md" type="button"
              @click="confirm('Are you sure?') && document.getElementById('frmDelete').submit()">
              Delete
            </button>
          </p>
        </div>
    </div>
    </form>
    <form id="frmDelete" action="/difficulty/delete/{{ .form.Id }}" method="POST"></form>
    {{ end }}
  </div>
</div>

{{ template "/htm/footer.htm" }}
