<thead class="bg-gray-800 text-white">
  <tr>
    {{ if (eq $.type "upcoming") }}
    <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
      #
    </th>
    {{ end }}
    <th class="text-left py-3 uppercase pl-4 font-semibold text-sm">
      Track
    </th>
    <th class="text-left py-3 uppercase font-semibold text-sm">
      Difficulty
    </th>
    <th class="text-left py-3 uppercase font-semibold text-sm">
      Session
    </th>
    <th class="text-left py-3 uppercase font-semibold text-sm">
      Class
    </th>
    <th class="text-left py-3 uppercase font-semibold text-sm">
      Time and Weather
    </th>
    <th class="text-left py-3 uppercase font-semibold text-sm">
      Action
    </th>
  </tr>
</thead>
<tbody class="text-gray-700">
  {{$g := . }}
  {{range $i, $event := .events }}
  <tr class="even:bg-gray-100">
    {{ if (eq $g.type "upcoming") }}
    <td class="text-left whitespace-nowrap align-baseline pl-4">
      {{ $i | inc }}
    </td>
    {{ end }}
    <td class="text-left whitespace-nowrap pl-4 align-baseline">
      <span>{{ $event.Track_Name }}</span>
      <div class="text-xs">
        <i class="fas fa-route"></i>
        <span class="pr-2" x-html="format_distance({{ $event.Track_Length }})"></span>
        <span>{{ $event.Pitboxes }} pitboxes</span>
      </div>
    </td>
    <td class="text-left whitespace-nowrap align-baseline">
      <span>{{ $event.Difficulty_Name }}</span>
      <div class="text-xs flex sm:flex-col md:flex-col lg:flex-col xl:flex-row">
        <span :class="{{ $event.Abs_Allowed }} ? 'text-red-500' : 'text-gray-500'">
          <i class="fas fa-exclamation-circle"></i>
          <span class="pr-4">ABS</span>
        </span>
        <span :class="{{ $event.Tc_Allowed }} ? 'text-red-500' : 'text-gray-500'">
          <i class="fas fa-exclamation-circle"></i>
          <span class="pr-4">TC</span>
        </span>
        <span :class="{{ $event.Stability_Allowed }} ? 'text-red-500' : 'text-gray-500'">
          <i class="fas fa-exclamation-circle"></i>
          <span class="pr-4">Stability</span>
        </span>
        <span :class="{{ $event.Autoclutch_Allowed }} ? 'text-red-500' : 'text-gray-500'">
          <i class="fas fa-exclamation-circle"></i>
          <span class="pr-4">Clutch</span>
        </span>
      </div>
    </td>
    <td class="text-left whitespace-nowrap align-baseline py-3">
      <span>{{ $event.Session_Name }}</span>
      <div class="text-xs flex sm:flex-col md:flex-col lg:flex-col xl:flex-row whitespace-nowrap">
        <div class="flex flex-col">
          <span :class="{{ $event.Booking_Enabled }} ? 'text-red-500' : 'text-gray-500'">
            <i class="fas {{ if (eq (derefInt $event.Booking_Enabled) "1") }}fa-check{{ else }}fa-times{{ end }}"></i> <span class="pr-4">Booking</span>
          </span>
        </div>
          {{ if (eq (derefInt $event.Booking_Enabled) "1") }}
          <span class="pr-2">{{ $event.Booking_Time }} minutes</span>
          {{ end }}
        <div class="flex flex-col">
          <span :class="{{ $event.Practice_Enabled }} ? 'text-red-500' : 'text-gray-500'">
            <i class="fas {{ if (eq (derefInt $event.Practice_Enabled) "1") }}fa-check{{ else }}fa-times{{ end }}"></i> <span class="pr-4">Practice</span>
          </span>
          {{ if (eq (derefInt $event.Practice_Enabled) "1") }}
          <span class="pr-2">{{ $event.Practice_Time }} minutes</span>
          {{ end }}
        </div>
        <div class="flex flex-col">
          <span :class="{{ $event.Qualify_Enabled }} ? 'text-red-500' : 'text-gray-500'">
            <i class="fas {{ if (eq (derefInt $event.Qualify_Enabled) "1") }}fa-check{{ else }}fa-times{{ end }}"></i> <span class="pr-4">Qualifying</span>
          </span>
          {{ if (eq (derefInt $event.Qualify_Enabled) "1") }}
          <span class="pr-2">{{ $event.Qualify_Time }} minutes</span>
          {{ end }}
        </div>
        <div class="flex flex-col">
          <span :class="{{ $event.Race_Enabled }} ? 'text-red-500' : 'text-gray-500'">
            <i class="fas {{ if (eq (derefInt $event.Race_Enabled) "1") }}fa-check{{ else }}fa-times{{ end }}"></i> <span class="pr-4">Race</span>
          </span>
          {{ if and (gt (toInt $event.Race_Laps) 0) (eq (derefInt $event.Race_Enabled) "1") }}
          <span class="pr-2">{{ $event.Race_Laps }} laps</span>
          {{ else if (eq (derefInt $event.Race_Enabled) "1") }}
          <span class="pr-2">{{ $event.Race_Time }} minutes</span>
          {{ end }}
        </div>
      </div>
    </td>
    <td class="text-left whitespace-nowrap align-baseline">
      <span>{{ $event.Class_Name }}</span>
      <div class="text-xs">
        <span><i class="fas fa-warehouse"></i>
        {{ if and (gt (toInt $g.max_clients) (toInt $event.Pitboxes)) (gt (toInt $g.max_clients) (toInt $event.Entries)) }}
          {{ $g.max_clients }} 
          {{ if (eq (derefInt $event.Strategy) "1") }}first{{ end }}
          {{ if (eq (derefInt $event.Strategy) "2") }}random{{ end }}
          entries of {{ $event.Entries }}
        {{ else if (gt (toInt $event.Entries) (toInt $event.Pitboxes)) }}
          {{ $event.Pitboxes }}
          {{ if (eq (derefInt $event.Strategy) "1") }}first{{ end }}
          {{ if (eq (derefInt $event.Strategy) "2") }}random{{ end }}
          entries of {{ $event.Entries }}
        {{ else }}
          all {{ $event.Entries }} entries
        {{ end }}
        </span>
      </div>
    </td>
    <td class="text-left whitespace-nowrap flex flex-col align-baseline">
      <span>{{ $event.Time_Name }} {{ if (gt (toInt $event.Csp_Weather) 0) }} (CSP) {{end}}</span>
      {{ if (gt (toInt $event.TruncWeather) 1) }}
      <span class="text-xs"><i class="fas fa-cloud-moon-rain"></i> 1 of {{ $event.TruncWeather }} entries</span>
      {{ else }}
      <span class="text-xs mr-4"><i class="fas fa-stopwatch"></i> {{ $event.Time }} </span>
      <span class="text-xs"><i class="fas fa-cloud-moon-rain"></i> {{ $event.Graphics }}</span>
      {{ end }}
    </td>
    <td class="text-left whitespace-nowrap">
      {{ if (eq $g.type "upcoming") }}
      <a href="/event_edit/{{ $event.Id }}"><button class="px-4 py-1 tracking-wider bg-gray-200 rounded-l-md" type="button">
          Edit</button></a><a href="/event/delete/{{ $event.Id }}" @click="return confirm('Are you sure?')"><button class="text-white px-4 py-1 tracking-wider bg-red-900 rounded-r-md" type="button">
        Remove
        </button></a>
      {{ else }}
      <a href="#" @click="return confirm('Are you sure?')"><button class="px-4 py-1 tracking-wider bg-gray-200 rounded-l-md" type="button">
          Restart</button></a><a href="#" @click="return confirm('Are you sure?')"><button class="text-white px-4 py-1 tracking-wider bg-red-900 rounded-r-md" type="button">
        Skip
        </button></a>
      {{ end }}
    </td>
  </tr>
  {{ end }}
</tbody>
