{% extends 'base.htm' %} {% block title %}Dashboard{% endblock %} {% block
content %}
<h1 class="text-3xl text-black pb-6">Dashboard</h1>

<div class="w-full mt-6">
  <p class="text-xl pb-3 flex items-center">
    <i class="fas fa-list mr-3"></i>Current Session
  </p>
  <div class="bg-white overflow-auto">
    <table class="min-w-full bg-white">
      <thead class="bg-gray-800 text-white">
        <tr>
          <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
            Difficulty
          </th>
          <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
            Event
          </th>
          <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
            Track
          </th>
          <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
            Class
          </th>
          <th class="text-left py-3 px-4 uppercase font-semibold text-sm">
            Time and Weather
          </th>
        </tr>
      </thead>
      <tbody class="text-gray-700">
        <tr>
          <td class="text-left py-3 px-4">
            Lian
          </td>
          <td class="text-left py-3 px-4">
            Smith
          </td>
          <td class="text-left py-3 px-4">
            1
          </td>
          <td class="text-left py-3 px-4">
            2
          </td>
          <td class="text-left py-3 px-4">
            3
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
