{{ template "/htm/header.htm" . }}

<h1 class="text-3xl text-black">Time and Weather</h1>
<div class="flex flex-wrap">
  <div class="w-full my-6 pr-0 lg:pr-2">
    <p class="text-xl pb-6 flex items-center"></p>
    <div class="bg-gray-800 text-white">
      <nav class="flex flex-col lg:flex-row xl:flex-row flex-wrap">
        {{ $g := . }}
        {{range $val := .list }}
        <a href="/time/{{ $val.Id }}"
          class="py-4 px-6 block text-gray-500 hover:text-white focus:outline-none font-medium {{ if (eq (derefInt $val.Id) (derefInt $g.form.Id)) }} text-white {{ end }}">
          <i class="fas fa-edit mr-3"></i>{{ $val.Name }}
        </a>
        {{ end }}

        <form x-data="{ showModal: false, email: '' }" method="POST">
          <a href="#" @click="showModal = true"
            class="py-4 px-6 block font-medium">
            <i class="fas fa-plus mr-3"></i> Add new Time and Weather
          </a>
          <!-- Background overlay -->
          <div x-show="showModal" class="fixed inset-0 transition-opacity" aria-hidden="true"
            @click="showModal = false">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
          </div>
          <!-- Modal -->
          <div x-show="showModal" x-transition:enter="transition ease-out duration-300 transform"
            x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
            x-transition:leave="transition ease-in duration-200 transform"
            x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
            x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            class="fixed z-10 inset-0 overflow-y-auto" x-cloak>
            <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
              <!-- Modal panel -->
              <div
                class="w-full inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
                role="dialog" aria-modal="true" aria-labelledby="modal-headline">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                  <!-- Modal content -->
                  <div class="sm:flex sm:items-start">
                    <div class="w-full mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                      <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
                        Add a new Time and Weather
                      </h3>
                      <div class="mt-2">
                        <p class="text-sm text-gray-500">
                          Enter the name of the time and weather preset
                        </p>
                        <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="time_name"
                          name="time_name" type="text" required="" placeholder="Time and Weather Name"
                          aria-label="Time and Weather Name" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex">
                  <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded-l-md" type="submit">
                    Save
                  </button>
                  <button @click="showModal = false"
                    class="px-4 py-1 text-white font-light tracking-wider bg-red-900 rounded-r-md" type="button">
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </nav>

      {{ if .form.Id }}
      <script>
        function csp_timeweather() {
          return {
            weatherlist: {{ .weatherlist }},
            time_of_day_multi: {{ .form.Time_Of_Day_Multi | derefInt }},
            time_of_day: {{ .form.Time | derefStr }},
            csp_enabled: {{ .form.Csp_Enabled | toJsBool }},
            csp_changed: function(val) {
              this.items.forEach(x => {
                x.csp_time = "";
                x.csp_time_of_day_multi = "";
                x.csp_date = "";
              });
              this.time_of_day_multi = "";
              this.time_of_day = "";
            },
            items: {{ .form.Weathers }},
            add_panel() {
              this.items.push({});
            },
            remove_panel(index) {
              this.items = this.items.filter((item, idx) => {
                return index !== idx
              })
            },
            random_weather: function(time) {
              let rand = Math.floor(Math.random()*this.weatherlist.length);
              time.graphics = this.weatherlist[rand].key;
            },
          }
        }
      </script>
      <form class="flex flex-wrap bg-white text-black" method="POST" x-data="csp_timeweather()">
        <div class="w-full mt-6 pl-0 lg:pl-2">
          <div class="w-1/2 p-4 lg:p-10 leading-loose">
            <div class="">
              <label class="block text-sm text-gray-600 group relative" for="name">
                Name
                <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                  <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                    Name of this preset
                  </div>
                </div>
              </label>
              <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="name" name="name"
                type="text" required="" placeholder="Name" aria-label="Name"
                value="{{ .form.Name }}" />
            </div>
          </div>
        </div>
        <div class="w-full mt-6 pl-0 lg:pl-2">
          <p class="text-xl px-6 pb-6 flex items-center">
            <i class="fas fa-list mr-3"></i> CSP Time &amp; Weather
          </p>
          <div class="p-4 lg:p-10 leading-loose flex-row">
            <div class="inline-block pr-1 w-1/2">
              <label class="block text-sm text-gray-600 group relative" for="csp_enabled">
                Enable CSP Time &amp; Weather
                <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                  <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                    Note: this preset will only show up in Events when CSP is enabled in the Content &amp; Mods page
                  </div>
                </div>
              </label>
              <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
                <input type="checkbox" name="csp_enabled" id="csp_enabled" value="1" x-model="csp_enabled"
                   @click="csp_changed($event.target.checked)"
                  class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer" />
                <label for="csp_enabled"
                  class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"></label>
                <input type='hidden' value='0' name='csp_enabled'>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full mt-6 pl-0 lg:pl-2" x-show="!csp_enabled">
          <p class="text-xl px-6 pb-6 flex items-center">
            <i class="fas fa-list mr-3"></i> Time
          </p>
          <div class="p-4 lg:p-10 leading-loose flex-row">
            <div class="inline-block pr-1 w-1/2">
              <label class="block text-sm text-gray-600 group relative" for="time">
                Time of Day
                <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                  <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                    # TODO
                  </div>
                </div>
              </label>
              <div class="flex">
                <input type="time" id="time" class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" name="time" min="08:00" max="18:00" x-model="time_of_day"
                  :required="!csp_enabled" :disabled="csp_enabled">
              </div>
            </div>
            <div class="inline-block mt-2 -mx-1 pl-1 w-1/2">
              <label class="block text-sm text-gray-600 group relative" for="time_of_day_multi">
                Multiplier
                <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                  <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                    Multiplier of time of day
                  </div>
                </div>
              </label>
              <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="time_of_day_multi" min="1" max="10" :disabled="csp_enabled"
                name="time_of_day_multi" type="number" :required="!csp_enabled" placeholder="Multiplier" aria-label="Multiplier" x-model="time_of_day_multi" />
            </div>
          </div>
        </div>
        <div class="w-full mt-6 pl-0 lg:pl-2" x-show="!csp_enabled">
          <p class="text-xl px-6 pb-6 flex items-center">
          <i class="fas fa-list mr-3"></i>Weather
          </p>
        </div>
        <div class="flex flex-wrap flex-col sm:flex-row">
          <template x-for="(time, index) in items">
            <div class="w-full lg:w-1/2 mt-6 pl-0 lg:pl-2">
              <div
                class="p-4 lg:p-10 m-2 leading-loose font-regular rounded-lg bg-gray-100">
                <h2 class="text-black"><span x-show="csp_enabled">Time &amp; </span> Weather Panel <span x-html="index+1"></span></h2>
                <div class="inline-block mt-2 w-1/2 pr-1" x-show="csp_enabled">
                  <label class="block text-sm text-gray-600 group relative" for="csp_time">
                    Time of Day
                    <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                      <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                        CSP Time of Day
                      </div>
                    </div>
                  </label>
                  <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" min="0"
                    type="time" :required="csp_enabled" :disabled="!csp_enabled" placeholder="Time of Day" aria-label="Time of Day"
                    x-model="time.csp_time" />
                </div>
                <div class="inline-block mt-2 -mx-1 pl-1 w-1/2" x-show="csp_enabled">
                  <label class="block text-sm text-gray-600 group relative" for="csp_time_of_day_multi">
                    Multiplier
                    <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                      <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                        CSP Multiplier of time of day
                      </div>
                    </div>
                  </label>
                  <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" min="1" max="60"
                    type="number" :required="csp_enabled" :disabled="!csp_enabled" placeholder="Multiplier" aria-label="Multiplier"
                    x-model="time.csp_time_of_day_multi" />
                </div>
                <div class="mt-2" x-show="csp_enabled">
                  <label class="block text-sm text-gray-600 group relative" for="csp_date">
                    Date (optional)
                    <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                      <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                        CSP Date
                      </div>
                    </div>
                  </label>
                  <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded"
                    type="date" placeholder="CSP Date" aria-label="CSP Date"
                    x-model="time.csp_date" />
                </div>
                <div class="mt-6">
                  <label class="block text-sm text-gray-600 group relative" for="graphics">
                    Weather
                    <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                      <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                        # TODO:
                      </div>
                    </div>
                  </label>
                  <div class="flex flex-row">
                    <select class="w-full text-gray-700 bg-gray-200 rounded-l py-3 px-4 pr-8"
                      x-model="time.graphics" required>
                      <option value="">Select ...</option>
                      {{range $val := .weatherlist }}
                      <option value="{{  $val.Key }}">{{ $val.Name }}</option>
                      {{ end }}
                    </select>
                    <button class="px-4 py-1 tracking-wider bg-gray-200 rounded-r" type="button" @click="random_weather(time)">
                      <i class="fas fa-random"></i>
                    </button>
                  </div>
                </div>
                <div class="inline-block mt-2 w-1/2 pr-1">
                  <label class="block text-sm text-gray-600 group relative" for="base_temperature_ambient">
                    Base Ambient Temp 
                    <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                      <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                        Ambient Temperature
                      </div>
                    </div>
                  </label>
                  <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" min="0"
                    type="number" required="" placeholder="Base Ambient Temp" aria-label="Base Ambient Temp"
                    x-model="time.base_temperature_ambient" />
                </div>
                <div class="inline-block mt-2 -mx-1 pl-1 w-1/2">
                  <label class="block text-sm text-gray-600 group relative" for="wind_base_speed_min">
                    Base Wind Min Speed 
                    <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                      <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                        Wind minimum speed
                      </div>
                    </div>
                  </label>
                  <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" min="0" max="40"
                    type="number" required="" placeholder="Base Wind Min Speed" aria-label="Base Wind Min Speed"
                    x-model="time.wind_base_speed_min" />
                </div>
                <div class="inline-block mt-2 w-1/2 pr-1">
                  <label class="block text-sm text-gray-600 group relative" for="base_temperature_road">
                    Base Road Temp 
                    <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                      <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                        Road Differential Temperature
                      </div>
                    </div>
                  </label>
                  <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" min="0"
                    type="number" required="" placeholder="Base Road Temp" aria-label="Base Road Temp"
                    x-model="time.base_temperature_road" />
                </div>
                <div class="inline-block mt-2 -mx-1 pl-1 w-1/2">
                  <label class="block text-sm text-gray-600 group relative" for="wind_base_speed_max">
                    Base Wind Max Speed 
                    <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                      <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                        Wind maximum speed
                      </div>
                    </div>
                  </label>
                  <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" min="0" max="40"
                    type="number" required="" placeholder="Base Wind Max Speed" aria-label="Base Wind Max Speed"
                    x-model="time.wind_base_speed_max" />
                </div>
                <div class="inline-block mt-2 w-1/2 pr-1">
                  <label class="block text-sm text-gray-600 group relative" for="variation_ambient">
                    Ambient Variation 
                    <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                      <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                        Ambient Variation +/-
                      </div>
                    </div>
                  </label>
                  <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" type="number" min="0"
                    required="" placeholder="Ambient Variation" aria-label="Ambient Variation"
                    x-model="time.variation_ambient" />
                </div>
                <div class="inline-block mt-2 -mx-1 pl-1 w-1/2">
                  <label class="block text-sm text-gray-600 group relative" for="wind_base_direction">
                    Base Wind Direction 
                    <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                      <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                        Wind base direction
                      </div>
                    </div>
                  </label>
                  <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" min="0" max="359"
                    type="number" required="" placeholder="Base Wind Direction" aria-label="Base Wind Direction"
                    x-model="time.wind_base_direction" />
                </div>
                <div class="inline-block mt-2 w-1/2 pr-1">
                  <label class="block text-sm text-gray-600 group relative" for="variation_road">
                    Road Variation 
                    <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                      <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                        Road Variation +/-
                      </div>
                    </div>
                  </label>
                  <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" type="number" min="0"
                    required="" placeholder="Road Variation" aria-label="Road Variation"
                    x-model="time.variation_road" />
                </div>
                <div class="inline-block mt-2 -mx-1 pl-1 w-1/2">
                  <label class="block text-sm text-gray-600 group relative" for="wind_variation_direction">
                    Wind Direction Variation
                    <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
                      <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
                        Wind direction variation
                      </div>
                    </div>
                  </label>
                  <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" min="0" max="359"
                    type="number" required="" placeholder="Wind Direction Variation" aria-label="Wind Direction Variation"
                    x-model="time.wind_variation_direction" />
                </div>
                <div class="inline-block mt-2 w-full pr-1">
                  <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded-md" type="button"
                    @click="remove_panel(index)" x-bind:disabled="items.length == 1">
                    Remove Weather Panel
                  </button>
                </div>
              </div>
            </div>
          </template>

          <div class="w-1/2 mt-6 pl-0 lg:pl-2 flex">
            <div class="w-full p-4 lg:p-10 m-2 leading-loose font-regular rounded-lg bg-gray-100 text-white flex">
              <div class="" style="align-self: flex-end;">
                <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded-md" type="button"
                  @click="add_panel()">
                  Add Weather Panel
                </button>
              </div>
            </div>
          </div>

          <input type="hidden" x-model="JSON.stringify(items)" name="weather" />
        </div>


        <div class="w-full mt-6 pl-0 lg:pl-2" x-data=" { btnClick : true }">
          <p class="text-xl pb-6 flex items-center">
            <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded-l-md" type="submit">
              Save
            </button>
            <button class="px-4 py-1 text-white font-light tracking-wider bg-red-900 rounded-r-md" type="button"
              @click="document.getElementById('frmDelete').submit()">
              Delete
            </button>
          </p>
        </div>
    </div>
    </form>
    <form id="frmDelete" action="/time/delete/{{ .form.Id }}" method="POST"></form>
    {{ end }}
  </div>
</div>

{{ template "/htm/footer.htm" }}

