{{ template "/htm/header.htm" . }}

<h1 class="text-3xl text-black pb-6">User Preferences</h1>
<form class="flex flex-wrap" method="POST">

  <div class="w-full lg:w-1/2 mt-6 pl-0 lg:pl-2">
    <p class="text-xl pb-6 flex items-center">
      <i class="fas fa-list mr-3"></i> Preferences
    </p>
    <div class="p-4 lg:p-10 bg-white rounded shadow-xl leading-loose">
      <div class="">
        <label class="block text-sm text-gray-600 group relative" for="measurement_unit">
          Measurement Units
          <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
            <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
              Measurement units to be used in the web ui
            </div>
          </div>
        </label>
        <select class="w-full text-gray-700 bg-gray-200 rounded py-3 px-4 pr-8" id="measurement_unit"
          name="measurement_unit">
          <option value="0" {{ if (eq (derefInt .form.Measurement_Unit) "0")}} selected {{ end }}>KM, KM/h</option>
          <option value="1" {{ if (eq (derefInt .form.Measurement_Unit) "1") }} selected {{ end }}>Miles, MPH</option>
        </select>
      </div>
      <div class="mt-2">
        <label class="block text-sm text-gray-600 group relative" for="temp_unit">
          Temperature Units
          <div class="absolute mx-2 invisible group-hover:visible" style="top: -2rem; left: -1rem">
            <div class="bg-red-500 text-white text-sm rounded py-1 px-4 right-0 bottom-full">
              Temperature units to be used in the web ui
            </div>
          </div>
        </label>
        <select class="w-full text-gray-700 bg-gray-200 rounded py-3 px-4 pr-8" id="temp_unit" name="temp_unit">
          <option value="0" {{ if (eq (derefInt .form.Temp_Unit) "0") }} selected {{ end }}>Celcius</option>
          <option value="1" {{ if (eq (derefInt .form.Temp_Unit) "1") }} selected {{ end }}>Fahrenheit</option>
        </select>
      </div>
    </div>
  </div>



  <div class="w-full mt-6 pl-0 lg:pl-2">
    <p class="text-xl pb-6 flex items-center">
      <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" type="submit">
        Save
      </button>
    </p>
  </div>
</form>

{{ template "/htm/footer.htm" }}
